body {
  background-color: #010733;
  color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#initializeGameContainer {
  display: flex;
  justify-content: center;
}

#initializeGame {
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
}

#initializeGame h1 {
  font-size: 45px;
  text-align: center;
}

#initializeGame input {
  border: 0;
  padding: 15px;
  outline: none;
  font-size: 22px;
  text-align: center;
  color: #333;
  margin-bottom: 30px;
}

#shipPlacementTitle {
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin-top: 25px;
}

#shipsWrapper {
  margin: 0 auto;
  max-width: 500px;
  border: 3px solid white;
  border-radius: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

#rotateButton {
  width: 100%;
  border: 0;
  padding: 10px 0;
  border-radius: 7px 7px 0 0;
  background-color: white;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

#shipsContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  padding: 20px;
}

.shipContainer {
  display: grid;
  grid-gap: 2px;
  padding: 2px;
  box-sizing: border-box;
  background-color: white;
}

.shipContainer.x {
  margin-bottom: 20px;
}

.shipContainer.x.\32 {
  grid-template-columns: repeat(2, 1fr);
}
.shipContainer.x.\33 {
  grid-template-columns: repeat(3, 1fr);
}

.shipContainer.x.\34 {
  grid-template-columns: repeat(4, 1fr);
}

.shipContainer.x.\35 {
  grid-template-columns: repeat(5, 1fr);
}

.shipContainer span {
  height: 9.5vw;
  max-height: 47.59px;
  width: 9.5vw;
  max-width: 46px;
}

#boardsContainer {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 2px;
  margin-top: 5%;
  width: 95vw;
  max-width: 500px;
  height: 95vw;
  max-height: 500px;
  padding: 3px;
  box-sizing: border-box;
  background-color: white;
}

.board span {
  background-color: #010733;
  display: flex;
  align-items: center;
  justify-content: center;
}

.board span:hover {
  cursor: pointer;
  opacity: .7;
}

.hit {
  color: red;
  background-color: #582222 !important;
}

.sunk {
  transition: background-color .2s;
  transition: color .2s;
  background-color: #000371 !important;
  color: #0088ff;
}

.ship.\30 {
  background-color: #ed553b;
}

.ship.\31 {
  background-color: #f6d55c;
}

.ship.\32 {
  background-color: #2292a4;
}

.ship.\33 {
  background-color: #dddddd;
}

.ship.\34 {
  background-color: #3b3;
}

#gameOverContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #00000096;
}

#gameOverCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  top: 10%;
  margin: 0 auto;
  width: 500px;
  max-width: 90%;
  height: 300px;
  background-color: #0f3057;
  border-radius: 10px;
}

#gameOverCard h1 {
  font-size: 40px;
  text-align: center;
}

#gameOverCard button,
#initializeGame button,
#autoPlaceButton,
#startGameButton {
  background-color: #e7e7de;
  border: 0;
  color: #222831;
  padding: 15px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: bold;
  outline: none;
  margin-bottom: 20px;
  cursor: pointer;
}

#autoPlaceButton,
#startGameButton {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 4px;
  font-size: 25px;
  width: 200px;
  max-width: 80%;
}

#gameOverCard button {
  transition: background-color .15s;
}

#initializeGame button,
#startGameButton {
  background-color: white;
  background-size: 200% 100%;
  transition: background-position .7s;
  background-image: linear-gradient(90deg, #fff 50%, #16c79a 50%);
  margin-bottom: 50px;
}

#initializeGame button:hover,
#startGameButton:hover {
  background-position: -100% 0;
}

#gameOverCard button:hover {
  background-color: white;
}

@media (max-width: 1000px) {
  #boardsContainer {
    flex-direction: column-reverse;
    align-items: center;
  }
}